:root {
  --font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  background: rgb(181,174,238);
  background: radial-gradient(circle, rgba(181,174,238,0.8855917366946778) 16%, rgba(148,187,233,1) 67%);
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

.image-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.image-info {
  flex: 1;
  background: #fff;
  padding: 8px 25px 8px 20px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.image-info .list {
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
  justify-content: space-between;
}

.item_title {
  font-family: var(--font-family), sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: center;
}

.item_text {
  font-family: var(--font-family), sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: center;
}
.load-more-btn {
  display: inline-flex;
  padding: 8px 16px;
  margin: 32px auto 44px;
  min-width: 125px;
  height: 40px;
  white-space: nowrap;
}
.loader {
  display: none;
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-top-color: #1e90ff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
